<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag 'application', 'recipes_show' %>
</head>

<div class="recipe-details">
  <h2 class="center-text"><%= @recipe.name %></h2>

  <div class="recipe-info">
    <div>
      <p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %></p>
      <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %></p>
      <p><%= @recipe.description %></p>
    </div>
    <div class="btn-container">
      <% if @recipe.user == current_user %>
        <%= form_with(model: @recipe, url: toggle_public_recipe_path(@recipe), method: :patch) do |form| %>
          <%= form.check_box :public %>
          <%= form.label :public, 'Make Recipe Public' %>
          <%= form.submit 'Update Visibility' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="recipe-actions">
    <%= link_to 'Generate Shopping List', generate_shopping_list_recipe_path(@recipe) %>
    <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe), class: "button" %>
  </div>
</div>

<hr>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= number_to_currency(recipe_food.food.price * recipe_food.quantity) %></td>
        <td>
          <%= link_to "Modify", edit_recipe_recipe_food_path(@recipe, recipe_food) %> 
          <%= link_to "Remove", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
